
body {
    text-align: center;
    font-family: 'Segoe UI';
    background-color: #1D3A6E; 
    color: white; 
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: #142950;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.Logo {
    margin-left: 30px;
}

.Logo a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background: #FFBD11;
}

.content {
    padding: 100px 0;
}

.about {
    background-color: #142950; 
    padding: 50px 0;
}

.team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: white; 
}

.team-member figure {
    margin: 0;
    text-align: center;
}

.team-member img {
    height: 220px;
    width: auto;
    max-width: 100%;
    border-radius: 10px;
}

.team-member figcaption {
    margin-top: 10px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .title {
        margin-bottom: 0;
        font-size: 40px;
    }
    .navbar {
        display: none;
    }
}